*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    height:100%;
    background-color: #f3f3f3;
}
body,
html,
#root,
.container{
    height:100%;
    display:flex;
    justify-content: center;
}


.loader{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.movies{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:50px;
    padding-top:70px;
    width:80%;
}

.movies .on_link{
    display:contents;
    text-decoration: none;
}
.movies .movie{
    width:45%;
    background-color: white;
    margin-bottom:70px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding:20px;
    color:#bcbcbc;
    border-radius: 5px;
    box-shadow:  
    7px 10px 11px -6px rgb(0 0 0 / 16%),
    -7px 10px 11px -6px rgb(0 0 0 / 16%);
}

.movie img{
    position: relative;
    top:-50px;
    max-width:150px;
    width: 100%;;
    margin-right:30px;
    box-shadow: 3px 19px 26px -13px rgb(0 0 0 / 60%);
}

.movie h3,
.movie h5{
    font-weight: 300;
    margin:0;
}

.movie .movie_title{
    margin-bottom:5px;
    font-size:24px;
    color:#2c2c2c;
}

.movie .movie_genres{
    list-style:none;
    padding:0;
    margin:5px 0;
    display: flex;
    flex-wrap:wrap;
    
}
.movie_genres li.genres_genre{
    margin-right:10px;
}

.nav {
    position: fixed;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 5px;
  }
  
  .nav a {
    text-decoration: none;
    color: #0008fc;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
  }
  
  .nav a:not(:last-child) {
    margin-bottom: 20px;
  }

